<!DOCTYPE HTML>
{% load staticfiles %}
<html>
<head>
	<title>MyNews</title>
	<link href="/static/css/bootstrap.css" rel='stylesheet' type='text/css' />
	<link href="/static/css/style.css" rel='stylesheet' type='text/css' />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="keywords" content="基于用户偏好的新闻爬虫系统 四川大学 软件学院 金灿然 201214146278" 
	/>
	<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
	<!----webfonts---->
		<link href='/static/css/front1.css' rel='stylesheet' type='text/css'>
		<link href='/static/css/front2.css' rel='stylesheet' type='text/css'>
		<!----//webfonts---->
		  <script src="/static/js/jquery.min.js"></script>
		<!--end slider -->
		<!--script-->
<script type="text/javascript" src="/static/js/move-top.js"></script>
<script type="text/javascript" src="/static/js/easing.js"></script>
<!--/script-->
<script type="text/javascript">
			jQuery(document).ready(function($) {
				$(".scroll").click(function(event){		
					event.preventDefault();
					$('html,body').animate({scrollTop:$(this.hash).offset().top},900);
				});
			});
</script>
<!---->

</head>
<body>
<!---strat-banner---->
<div class="banner">				
	 <div class="header">  
		  <div class="container">
			  <div class="logo">
					<a href="index.html"> <img src="/static/images/logo.png" title="soup" /></a>
			 </div>
			 <!---start-top-nav---->
			 <div class="top-menu">
				  <span class="menu"> </span> 
				   <ul>
						<li class="active"><a href="/index/">首页</a></li>	
						{% if username %}	
						<li><a>欢迎您！{{username}}</a></li>
						<li><a href="/logout/">注销</a></li>		
						{% else %}
						<li><a href="/login/">登录</a></li>	
						<li><a href="/register/">注册</a></li>		
						{% endif %}
										
						<div class="clearfix"> </div>
				 </ul>
			 </div>
			 <div class="clearfix"></div>
					<script>
					$("span.menu").click(function(){
					$(".top-menu ul").slideToggle("slow" , function(){
					});
					});
					</script>
				<!---//End-top-nav---->					
		 </div>
	 </div>
	 <div class="container">
		 <div class="banner-head">
			 <h1>Welcome to NewsMaster  </h1>
			 <h2>      Welcome to NewsMaster   </h2>
		 </div>
		 <div class="banner-links">
			 <ul>
				<li><a href="/index/?cur_page=0&&req_page=1">回到首页</a></li>				  
				 <div class="clearfix"></div>
			 </ul>
		 </div>
	 </div>
</div>
<!---//End-banner---->
<div class="content">
	 <div class="container">
		 <div class="content-grids">
			 <div class="col-md-8 content-main">
				 <div class="content-grid">
					 <div class="content-grid-head">
					 {%if uks%}
						 <h3>已有标签</h3>							 						 
					 {%else%}
						<h3>暂未添加标签</h3>							 
					 {%endif%}
						<div class="clearfix"></div>
					 </div>
					 
					 <div class="content-grid-single"> 					
						 <div class="comments">
							{%for uk in uks%}
							 <div class="comment-grid">
								 <div class="comment-info">
								 <h4>{{uk.key}}&nbsp<a href="#">删除</a></h4>								  
								 </div>
								 <div class="clearfix"></div>
							 </div>							 
							 {% endfor %}				
						</div>				
					  </div>					 
				 </div>	
				 <div class="content-grid">
					 <div class="content-grid-head">
						<h3>添加新标签</h3>							 
						<div class="clearfix"></div>
					 </div>
					 
					 <div class="content-grid-single"> 					
						 <div class="content-form">
							 <form action="" method="post">
							 {% csrf_token %}				  
							 <input type="text"  name="key" placeholder="自定义标签*" value="{{key}}" required/>					
							 <input type="hidden"  name="username"  value="{{username}}" required/>
							 {% if username %}
							 <input type="submit" value="添加"/>
							 {% else %}
							 <a href="/login/">登录NewsMaster</a>	
							 {% endif %}						
							 </form>
						 </div>			
					  </div>					 
				 </div>	
			 </div>
			 
			 <div class="col-md-4 content-main-right">
				 <div class="search">
						<h3>新闻搜索</h3>
						<form action="/result/" method="get">
							<input type="text" value="" name="query"> <!-- onFocus="this.value=''" onBlur="this.value=''" --> 
							<input type="submit" value="">
							<input type="hidden" value="1" name="req_page">
							<input type="hidden" value="0" name="cur_page">
						</form>
				 </div>
				 <div class="categories">
					 <h3>CATEGORIES</h3>
					 <li class="active"><a href="#">Donec quis dui at dolor tempor</a></li>
					 <li><a href="#">Vestibulum commodo felis quis tort</a></li>
					 <li><a href="#">Fusce pellentesque suscipit</a></li>
				 </div>
				 <div class="archives">
					 <h3>ARCHIVES</h3>
					 <li class="active"><a href="#">July 2014</a></li>
					 <li><a href="#">June 2014</a></li>
					 <li><a href="#">May 2014</a></li>
				 </div>
			 </div>
			 <div class="clearfix"></div>
		 </div>
	 </div>
</div>
<!--fotter-->
<div class="fotter">
	 <div class="container">
		 <div class="col-md-4 fotter-info">
			 <h3>使用说明</h3>
			 <p>可在标签栏添加您喜欢的标签 </p>
			 <p>刷新页面可重新爬取最新新闻，登陆后才可使用用户评论功能 </p>
		 </div>
		 <div class="col-md-4 fotter-list">
			 <h3>友情链接</h3>
			 <ul>
			 <li><a href="#">环球网</a></li>
			 <li><a href="#">网易新闻</a></li>
			 <li><a href="#">新华网</a></li>
			 </ul>
		 </div>
		 <div class="col-md-4 fotter-media">
				<h3>关注本站</h3>
				 <div class="social-icons">
				 <a href="#"><span class="fb"> </span></a>
				 <a href="#"><span class="twt"> </span></a>
				 <a href="#"><span class="in"> </span></a>				 			 
			    </div>
		 </div>
		 <div class="clearfix"></div>
	 </div>
</div>
<!---fotter/-->
<div class="copywrite">
	 <div class="container">
	 <p>Copyright &copy; 2016.Company name All rights reserved  Design by jincanran 2012141463278</p>
</div>
</div>
<!---->
<script type="text/javascript">
		$(document).ready(function() {
				/*
				var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear' 
				};
				*/
		$().UItoTop({ easingType: 'easeOutQuart' });
});
</script>
<a href="#to-top" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>



</body>
</html>