<!DOCTYPE HTML>
{% load staticfiles %}
<html>
<head>
	<title>MyNews</title>
	<link href="/static/css/bootstrap.css" rel='stylesheet' type='text/css' />
	<link href="/static/css/style.css" rel='stylesheet' type='text/css' />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="keywords" content="基于用户偏好的新闻爬虫系统 四川大学 软件学院 金灿然 201214146278" 
	/>
	<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
	<!----webfonts---->
		<link href='/static/css/front1.css' rel='stylesheet' type='text/css'>
		<link href='/static/css/front2.css' rel='stylesheet' type='text/css'>
		<!----//webfonts---->
		  <script src="/static/js/jquery.min.js"></script>
		<!--end slider -->
		<!--script-->
<script type="text/javascript" src="/static/js/move-top.js"></script>
<script type="text/javascript" src="/static/js/easing.js"></script>
<!--/script-->
<script type="text/javascript">
			jQuery(document).ready(function($) {
				$(".scroll").click(function(event){		
					event.preventDefault();
					$('html,body').animate({scrollTop:$(this.hash).offset().top},900);
				});
			});
</script>
<!---->

</head>
<body>
<!---strat-banner---->
<div class="banner">				
	 <div class="header">  
		  <div class="container">
			  <div class="logo">
					<a href="index.html"> <img src="/static/images/logo.png" title="soup" /></a>
			 </div>
			 <!---start-top-nav---->
			 <div class="top-menu">
				  <span class="menu"> </span> 
				   <ul>
						<li class="active"><a href="/index/">首页</a></li>	
						{% if username %}	
						<li><a>欢迎您！{{username}}</a></li>
						<li><a href="/logout/">注销</a></li>		
						{% else %}
						<li><a href="/login/">登录</a></li>	
						<li><a href="/register/">注册</a></li>		
						{% endif %}
										
						<div class="clearfix"> </div>
				 </ul>
			 </div>
			 <div class="clearfix"></div>
					<script>
					$("span.menu").click(function(){
					$(".top-menu ul").slideToggle("slow" , function(){
					});
					});
					</script>
				<!---//End-top-nav---->					
		 </div>
	 </div>
	 <div class="container">
		 <div class="banner-head">
			 <h1>   &nbsp  </h1>
			 <h2>     &nbsp   </h2>
		 </div>
		 <div class="banner-links">
			 <ul>
				 <li class="active"><a href="#">推荐</a></li>
				 <li><a href="#">国内</a></li>
				 <li><a href="#">日本</a></li>
				 <li><a href="#">更多 …</a></li>
				  
				 <div class="clearfix"></div>
			 </ul>
		 </div>
	 </div>
</div>
<!---//End-banner---->
<div class="copyrights">Collect from <a>jincanran</a></div>
<div class="content">
	 <div class="container">
		 <div class="content-grids">
			 <div class="col-md-8 content-main">
				 <div class="content-grid">
					 <div class="content-grid-head">
						 <h3>即时推荐</h3>
						 
						 <div class="clearfix"></div>
					 </div>
					 <div class="content-grid-info">
						 <h3><a href="single.html">title1</a></h3>
						 <h4>July 24, 2014,Posted by: <a href="#">Admin</a></h4>
						 <p>text1</p>
						 <a class="bttn" href="single.html">MORE</a>
					</div>
				 </div>	 
				 <div class="content-grid-sec">
					 <div class="content-sec-info">
							 <h3><a href="single.html">ALIQUAM TINCIDUNT MAURI</a></h3>
							 <h4>Jul 23, 2014, Posted by : <a href="#">Admin</a></h4>
							 <p>text</p>
							 <!-- <img src="/static/images/c2.jpg" alt=""/> -->
							 <a class="bttn" href="single.html">MORE</a>
							 <h5>&nbsp </h5>
					 </div>
				 </div>
				 <div class="content-grid">
					<div class="content-grid-info">
						 <h3><a href="single.html">title</a></h3>
						 <h4>July 24, 2014,Posted by: <a href="#">Admin</a></h4>
						 <p>text</p>
						 <a class="bttn" href="single.html">MORE</a>
					</div>
				 </div>
				 <div class="content-grid-sec">
					 <div class="content-sec-info">
							 <h3><a href="single.html">VESTIBULUM COMMODO FELIS</a></h3>
							 <h4>Jul 23, 2014, Posted by : <a href="#">Admin</a></h4>
							 <p>text</p>
							 <!-- <img src="/static/images/c3.jpg" alt=""/> -->
							 <a class="bttn" href="single.html">MORE</a>
							 <h5>&nbsp </h5>
					 </div>
				 </div>		
				 <div class="content-grid">
					<div class="content-grid-info">
						 <h3><a href="single.html">title</a></h3>
						 <h4>July 24, 2014,Posted by: <a href="#">Admin</a></h4>
						 <p>text</p>
						 <a class="bttn" href="single.html">MORE</a>
					</div>
				 </div>				 
				 <div class="pages">
					 <ul>
						 <li class="active"><a href="#">1</a></li>
						 <li><a href="#">2</a></li>
						 <li><a href="#">3</a></li>
						 <li><a href="#">4</a></li>
						 <li><a href="#">5</a></li>
						 <li><a href="#">6</a></li>
						 <li><a href="#">Previous</a></li>
						 <li><a href="#">Next</a></li>
					 </ul>
				 </div>				 
			 </div>
			 
			 <div class="col-md-4 content-main-right">
				 <div class="search">
						 <h3>新闻搜索</h3>
						<form action="/search_result/" method="get">
							<input type="text" value="" name="q"> <!-- onFocus="this.value=''" onBlur="this.value=''" --> 
							<input type="submit" value="">
						</form>
				 </div>
				 <div class="categories">
					 <h3>国内热点</h3>
					 <li class="active"><a href="#">Donec quis dui at dolor tempor</a></li>
					 <li><a href="#">Vestibulum commodo felis quis tort</a></li>
					 <li><a href="#">Fusce pellentesque suscipit</a></li>
				 </div>
				 <div class="archives">
					 <h3>国际热点</h3>
					 <li class="active"><a href="#">July 2014</a></li>
					 <li><a href="#">June 2014</a></li>
					 <li><a href="#">May 2014</a></li>
				 </div>
			 </div>
			 <div class="clearfix"></div>
		 </div>
	 </div>
</div>
<!--fotter-->
<div class="fotter">
	 <div class="container">
		 <div class="col-md-4 fotter-info">
			 <h3>使用说明</h3>
			 <p>Raesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. Aliquam erat volutpat. </p>
			 <p>Nam dui mi, tincidunt quis, accumsan porttitor, facilisis luctus, metus. Phasellus ultrices nulla quis nibh. Quisque a lectus. </p>
		 </div>
		 <div class="col-md-4 fotter-list">
			 <h3>友情链接</h3>
			 <ul>
			 <li><a href="#">Ut alliquam solicitudin</a></li>
			 <li><a href="#">Neque id cursus faucibus</a></li>
			 <li><a href="#">Raesent dapibus neque id cursus</a></li>
			 </ul>
		 </div>
		 <div class="col-md-4 fotter-media">
				<h3>关注我........</h3>
				 <div class="social-icons">
				 <a href="#"><span class="fb"> </span></a>
				 <a href="#"><span class="twt"> </span></a>
				 <a href="#"><span class="in"> </span></a>				 			 
			    </div>
		 </div>
		 <div class="clearfix"></div>
	 </div>
</div>
<!---fotter/-->
<div class="copywrite">
	 <div class="container">
	 <p>Copyright &copy; 2016.Company name All rights reserved  Design by jincanran 2012141463278</p>
</div>
</div>
<!---->
<script type="text/javascript">
		$(document).ready(function() {
				/*
				var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear' 
				};
				*/
		$().UItoTop({ easingType: 'easeOutQuart' });
});
</script>
<a href="#to-top" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>



</body>
</html>